@model Formulario_soporte.Models.Reporte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reporte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReporte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MantenimientoLogico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MantenimientoLogico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MantenimientoFisico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MantenimientoFisico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MantenimientoReemplazo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MantenimientoReemplazo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrabajoRealizado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrabajoRealizado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEquipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEquipoNavigation.IdEquipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSucursalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSucursalNavigation.IdSucursal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioResponsableNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioResponsableNavigation.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioTecnicoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioTecnicoNavigation.IdUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firma)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdReporte">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
